:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.canvasContainer {
  color: red;
  width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.8em;
  line-height: 1.1;
}

canvas {
  width: 90%;
  height: 600px;
  background-color: black;
}

