:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 100vw;
  overflow-x: hidden;
}

.canvasContainer {
  color: red;
  width: 100vw;
  overflow-x: hidden;

  canvas {
    width: 90%;
    height: 50%;
    background-color: black;
  }
}

.headerContainer {
  width: 100vw;
  overflow-x: hidden;

  canvas {
    width: 100%;
    height: 8%;
    background-color: rgb(187, 24, 24);
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.8em;
  line-height: 1.1;
}



